* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Microsoft JhengHei; }
  * a {
    text-decoration: none; }

.container {
  width: 100%;
  overflow: hidden; }
  .container .header {
    width: 100%;
    height: 100vh;
    overflow: hidden; }
    .container .header ul {
      width: 5000px; }
      .container .header ul li {
        display: inline-block;
        float: left;
        list-style: none; }
        .container .header ul li img {
          width: 100vw;
          height: 100vh; }
    .container .header .earth {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 90vh; }
      .container .header .earth div {
        width: 34vw;
        margin: 0 auto; }
      .container .header .earth embed {
        margin-top: 60px;
        margin-bottom: 30px;
        width: 32vw;
        height: auto;
        -webkit-animation: earth-Rotate 5s infinite linear;
        -moz-animation: earth-Rotate 5s infinite linear;
        -o-animation: earth-Rotate 5s infinite linear;
        animation: earth-Rotate 5s infinite linear; }
        .container .header .earth embed:hover {
          -webkit-animation: earth-Rotate 3s infinite linear;
          animation: earth-Rotate 3s infinite linear;
          cursor: pointer; }
      .container .header .earth .start {
        margin-top: 20px;
        text-align: center;
        color: #ffffff;
        -webkit-animation: start 1.5s infinite;
        animation: start 1.5s infinite; }
        .container .header .earth .start .start_text {
          font-weight: 500;
          color: #ffffff;
          font-size: 28px;
          letter-spacing: 5px;
          text-shadow: 1px 1px 2px #343434; }
        .container .header .earth .start:hover {
          cursor: pointer; }
  .container .content {
    width: 100%;
    overflow: hidden; }
    .container .content .menu {
      width: 16%;
      height: 100vh;
      padding: 20px 2%;
      float: left;
      line-height: 1.5;
      -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
      .container .content .menu ul {
        font-weight: 500; }
        .container .content .menu ul a {
          color: #999; }
        .container .content .menu ul .big {
          color: #999;
          font-size: 25.2px;
          list-style: none;
          margin-top: 10px; }
          .container .content .menu ul .big i {
            margin-right: 15px;
            font-size: 16.2px; }
        .container .content .menu ul .small {
          color: #999;
          font-size: 18px;
          list-style: none;
          margin-top: 10px;
          margin-left: 10%;
          list-style: none; }
          .container .content .menu ul .small i {
            margin-right: 15px;
            font-size: 9px; }
    .container .content .topic {
      width: 80%;
      position: absolute;
      right: 0; }
      .container .content .topic .summary {
        margin: 0 auto;
        margin: 5%;
        width: 90%; }
        .container .content .topic .summary .box {
          width: 100%;
          height: 400px;
          position: relative; }
          .container .content .topic .summary .box .list {
            width: 100%;
            height: 400px;
            overflow: hidden;
            position: absolute; }
            .container .content .topic .summary .box .list li {
              position: absolute;
              top: 0;
              left: 0;
              list-style: none;
              opacity: 0;
              -webkit-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out; }
            .container .content .topic .summary .box .list .p1 {
              -webkit-transform: translate3d(0%, 10px, 0) scale(0.5);
              transform: translate3d(0%, 10px, 0) scale(0.5);
              -webkit-transform-origin: 0 10%;
              -ms-transform-origin: 0 10%;
              transform-origin: 0 10%;
              opacity: 1; }
            .container .content .topic .summary .box .list .p2 {
              -webkit-transform: translate3d(25%, 30px, 0) scale(0.6);
              transform: translate3d(25%, 30px, 0) scale(0.6);
              -webkit-transform-origin: 0 20%;
              -ms-transform-origin: 0 20%;
              transform-origin: 0 20%;
              opacity: 1;
              z-index: 2; }
            .container .content .topic .summary .box .list .p3 {
              -webkit-transform: translate3d(50%, 60px, 0) scale(0.75);
              transform: translate3d(50%, 60px, 0) scale(0.75);
              z-index: 3;
              opacity: 1; }
            .container .content .topic .summary .box .list .p4 {
              -webkit-transform: translate3d(75%, 30px, 0) scale(0.6);
              transform: translate3d(75%, 30px, 0) scale(0.6);
              -webkit-transform-origin: 100% 20%;
              -ms-transform-origin: 100% 20%;
              transform-origin: 100% 20%;
              z-index: 2;
              opacity: 1; }
            .container .content .topic .summary .box .list .p5 {
              -webkit-transform: translate3d(100%, 10px, 0) scale(0.5);
              transform: translate3d(100%, 10px, 0) scale(0.5);
              -webkit-transform-origin: 100% 10%;
              -ms-transform-origin: 100% 10%;
              transform-origin: 100% 10%;
              opacity: 1; }
            .container .content .topic .summary .box .list img {
              width: 500px;
              height: auto;
              border: none; }
        .container .content .topic .summary p {
          text-align: center; }
      .container .content .topic .section {
        float: left; }
      .container .content .topic .title {
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 35%; }
        .container .content .topic .title .tit {
          font-size: 30px;
          padding-bottom: 2%;
          border-bottom: 3px solid #343434; }
        .container .content .topic .title .sub {
          font-size: 20px;
          padding-top: 2%;
          float: right; }
        .container .content .topic .title p {
          color: #343434;
          font-weight: bold; }
      .container .content .topic .topic_section {
        width: 100%;
        float: left; }
        .container .content .topic .topic_section .topic_pic {
          width: 50%;
          float: left; }
          .container .content .topic .topic_section .topic_pic #turtlePic {
            width: 80%;
            height: 300px;
            margin: 0 auto;
            padding-top: 80px;
            vertical-align: middle; }
        .container .content .topic .topic_section .topic_content {
          width: 45%;
          float: left;
          padding: 80px 2.5%;
          opacity: 0; }
          .container .content .topic .topic_section .topic_content p {
            margin-bottom: 5%; }
          .container .content .topic .topic_section .topic_content .topic_title {
            font-size: 22.4px; }
          .container .content .topic .topic_section .topic_content .topic_turtle {
            font-size: 28px;
            font-weight: 500;
            color: #cc9900; }
          .container .content .topic .topic_section .topic_content .topic_smog {
            font-size: 28px;
            font-weight: 500;
            color: #666666; }
          .container .content .topic .topic_section .topic_content .topic_coral {
            font-size: 28px;
            font-weight: 500;
            color: #eb8888; }
          .container .content .topic .topic_section .topic_content .topic_rainforest {
            font-size: 28px;
            font-weight: 500;
            color: #333300; }
          .container .content .topic .topic_section .topic_content .topic_oil {
            font-size: 28px;
            font-weight: 500;
            color: #336666; }
          .container .content .topic .topic_section .topic_content .topic_plastic {
            font-size: 28px;
            font-weight: 500;
            color: #003366; }
          .container .content .topic .topic_section .topic_content .topic_text {
            padding-right: 30%;
            line-height: 2;
            text-align: justify;
            text-justify: distribute; }
          .container .content .topic .topic_section .topic_content .topic_btn {
            border-radius: 30px;
            letter-spacing: 5px;
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            padding: 15px 20px;
            float: left;
            margin: 10px 0; }
          .container .content .topic .topic_section .topic_content #turtle_btn {
            background-color: #cc9900;
            border: 3px solid #cc9900;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            .container .content .topic .topic_section .topic_content #turtle_btn:hover {
              color: #cc9900;
              background-color: #fff; }
          .container .content .topic .topic_section .topic_content #smog_btn {
            background-color: #666666;
            border: 3px solid #666666;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            .container .content .topic .topic_section .topic_content #smog_btn:hover {
              color: #666666;
              background-color: #fff; }
          .container .content .topic .topic_section .topic_content #coral_btn {
            background-color: #eb8888;
            border: 3px solid #eb8888;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            .container .content .topic .topic_section .topic_content #coral_btn:hover {
              color: #eb8888;
              background-color: #fff; }
          .container .content .topic .topic_section .topic_content #rainforest_btn {
            background-color: #333300;
            border: 3px solid #333300;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            .container .content .topic .topic_section .topic_content #rainforest_btn:hover {
              color: #333300;
              background-color: #fff; }
          .container .content .topic .topic_section .topic_content #oil_btn {
            background-color: #336666;
            border: 3px solid #336666;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            .container .content .topic .topic_section .topic_content #oil_btn:hover {
              color: #336666;
              background-color: #fff; }
          .container .content .topic .topic_section .topic_content #plastic_btn {
            background-color: #003366;
            border: 3px solid #003366;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            .container .content .topic .topic_section .topic_content #plastic_btn:hover {
              color: #003366;
              background-color: #fff; }
        .container .content .topic .topic_section .topic_conclusion {
          width: 100%;
          padding: 35px 0;
          margin: 10px 0;
          float: left; }
          .container .content .topic .topic_section .topic_conclusion .conclusion {
            margin: 0 auto;
            width: 70%; }
            .container .content .topic .topic_section .topic_conclusion .conclusion .conclusion_title {
              padding: 10px 0;
              text-align: left;
              color: #ffffff;
              font-size: 28px;
              letter-spacing: 5px; }
            .container .content .topic .topic_section .topic_conclusion .conclusion .conclusion_content {
              text-align: left;
              color: #ffffff;
              font-size: 18px;
              line-height: 2;
              text-align: justify;
              text-justify: distribute; }
        .container .content .topic .topic_section #turtle_conclusion {
          background-color: #cc9900; }
        .container .content .topic .topic_section #smog_conclusion {
          background-color: #666666; }
        .container .content .topic .topic_section #coral_conclusion {
          background-color: #eb8888; }
        .container .content .topic .topic_section #rainforest_conclusion {
          background-color: #333300; }
        .container .content .topic .topic_section #oil_conclusion {
          background-color: #336666; }
        .container .content .topic .topic_section #plastic_conclusion {
          background-color: #003366; }
      .container .content .topic .group {
        width: 100%;
        height: 100vh; }
        .container .content .topic .group .member {
          width: 27%;
          height: 325px;
          background-color: #ffffff;
          -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
          position: relative;
          float: left;
          margin: 30px 3% 0 3.3%; }
          .container .content .topic .group .member .pic {
            width: 90%;
            height: 180px;
            margin: 20px 5% 30px 5%;
            float: left; }
          .container .content .topic .group .member .info {
            width: 100%;
            height: 90px;
            background-color: #ccc;
            float: left;
            position: absolute;
            bottom: 0;
            line-height: 110px;
            text-align: center; }
            .container .content .topic .group .member .info p {
              color: #343434;
              font-size: 18px; }
          .container .content .topic .group .member .name {
            width: 60%;
            height: 45px;
            position: absolute;
            background-color: #343434;
            top: 215px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            line-height: 45px;
            text-align: center; }
            .container .content .topic .group .member .name p {
              font-size: 28px;
              letter-spacing: 5px;
              color: #ffffff; }

@-webkit-keyframes earth-Rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes earth-Rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes start {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes start {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes color {
  from {
    color: #9d9d9d; }
  to {
    color: #343434; } }

@-moz-keyframes color {
  from {
    color: #9d9d9d; }
  to {
    color: #343434; } }

@-webkit-keyframes color {
  from {
    color: #9d9d9d; }
  to {
    color: #343434; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
