* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Microsoft JhengHei; }
  * a {
    text-decoration: none; }

.container {
  width: 100vw;
  overflow: hidden; }
  .container .header {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
    .container .header ul {
      width: 5000px; }
      .container .header ul li {
        display: inline-block;
        float: left;
        list-style: none; }
        .container .header ul li img {
          width: 100vw;
          height: 100vh; }
