$color-main: #004aaf;
$color-gray: #343434;
$fontFamily: sans-serif, Microsoft JhengHei;
$fontSize-title: 36px;
$fontSize-subtitle: 28px;
$fontSize-text: 18px;
$shadow: 3px 3px 3px #ccc;

* {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  a {
    text-decoration: none;
  }
}

.container {
  width: 100vw;
  overflow: hidden;
  .header {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    ul {
      width: 5000px;
      position: absolute;
      z-index: 0;
      li {
        display: inline-block;
        float: left;
        list-style: none;
        img {
          width: 100vw;
          height: 100vh;
        }
      }
    }
  }
  .earth{
    position: absolute;        
    z-index: 1;
    width: 100vw;
    height: 90vh;
    div{
      width: 34vw;
      margin: 0 auto;
    }
    embed{ 
      margin-top: 60px;
      margin-bottom: 30px;
      width: 32vw;
      height: auto;
      -webkit-animation: earth-Rotate 2.5s infinite linear;
      -moz-animation: earth-Rotate 2.5s infinite linear;
      -o-animation: earth-Rotate 2.5s infinite linear;
      animation: earth-Rotate 2.5s infinite linear;
    &:hover{
      animation: earth-Rotate 1s infinite linear;
    }
    }
    .start{
     text-align: center;
      color: #FFFFFF;
      animation: start 1s infinite;
    }
  }
  
}

@-webkit-keyframes earth-Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes earth-Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes start { 
  0% {             
      transform: translate(0px, 0px);            
   }            
   50% {                
      transform: translate(0px, -10px);            
   }            
   100% {                
      transform: translate(0px, 0px);
   }
}
