$color-main: #343434;
$color-orange: #cc9900;
$color-pink: #eb8888;
$color-gray: #666666;
$color-green: #333300;
$color-sea: #336666;
$color-blue: #003366;
$fontFamily: sans-serif, Microsoft JhengHei;
$fontSize-title: 36px;
$fontSize-subtitle: 28px;
$fontSize-text: 18px;
$shadow: 3px 3px 3px #ccc;
$transition: all 0.5s;
* {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  a {
    text-decoration: none;
  }
}

.container {
  width: 100%;
  overflow: hidden;
  .header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    ul {
      width: 5000px;
      li {
        display: inline-block;
        float: left;
        list-style: none;
        img {
          width: 100vw;
          height: 100vh;
        }
      }
    }
    .earth {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 90vh;
      div {
        width: 34vw;
        margin: 0 auto;
      }
      embed {
        margin-top: 60px;
        margin-bottom: 30px;
        width: 32vw;
        height: auto;
        -webkit-animation: earth-Rotate 5s infinite linear;
        -moz-animation: earth-Rotate 5s infinite linear;
        -o-animation: earth-Rotate 5s infinite linear;
        animation: earth-Rotate 5s infinite linear;
        &:hover {
          animation: earth-Rotate 3s infinite linear;
          cursor: pointer;
        }
      }
      .start {
        margin-top: 20px;
        text-align: center;
        color: #ffffff;
        animation: start 1.5s infinite;
        .start_text {
          font-weight: 500;
          color: #ffffff;
          font-size: $fontSize-subtitle;
          letter-spacing: 5px;
          text-shadow: 1px 1px 2px $color-main;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .content {
    width: 100%;
    overflow: hidden;
    .menu {
      width: 16%;
      height: 100vh;
      padding: 20px 2%;
      float: left;
      line-height: 1.5;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      ul {
        font-weight: 500;
        a {
          color: #999;
        }
        .big {
          color: #999;
          font-size: $fontSize-subtitle * 0.9;
          list-style: none;
          margin-top: 10px;
          i {
            margin-right: 15px;
            font-size: $fontSize-text * 0.9;
          }
        }
        .small {
          color: #999;
          font-size: $fontSize-text;
          list-style: none;
          margin-top: 10px;
          margin-left: 10%;
          list-style: none;
          i {
            margin-right: 15px;
            font-size: $fontSize-text * 0.5;
          }
        }
      }
    }
    .topic {
      width: 80%;
      // height: 200vh;
      position: absolute;
      right: 0;
      .summary {
        margin: 0 auto;
        margin: 5%;
        width: 90%;
        .box {
          width: 100%;
          height: 400px;
          position: relative;
          .list {
            width: 100%;
            height: 400px;
            overflow: hidden;
            position: absolute;
            li {
              position: absolute;
              top: 0;
              left: 0;
              list-style: none;
              opacity: 0;
              transition: all 0.3s ease-out;
            }
            .p1 {
              transform: translate3d(0%, 10px, 0) scale(0.5);
              transform-origin: 0 10%;
              opacity: 1;
            }
            .p2 {
              transform: translate3d(25%, 30px, 0) scale(0.6);
              transform-origin: 0 20%;
              opacity: 1;
              z-index: 2;
            }
            .p3 {
              transform: translate3d(50%, 60px, 0) scale(0.75);
              z-index: 3;
              opacity: 1;
            }
            .p4 {
              transform: translate3d(75%, 30px, 0) scale(0.6);
              transform-origin: 100% 20%;
              z-index: 2;
              opacity: 1;
            }
            .p5 {
              transform: translate3d(100%, 10px, 0) scale(0.5);
              transform-origin: 100% 10%;
              opacity: 1;
            }
            img {
              width: 500px;
              height: auto;
              border: none;
            }
          }
        }
        p {
          text-align: center;
        }
      }
      .section {
        float: left;
      }
      .title {
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 35%;
        .tit {
          font-size: 30px;
          padding-bottom: 2%;
          border-bottom: 3px solid $color-main;
        }
        .sub {
          font-size: 20px;
          padding-top: 2%;
          float: right;
        }
        p {
          color: $color-main;
          font-weight: bold;
        }
      }
      .topic_section {
        // position: relative;
        width: 100%;
        // height: 100vh;
        float: left;
        .topic_pic {
          // position: absolute;
          width: 50%;
          // height: 70%;
          float: left;
          #turtlePic {
            width: 80%;
            height: 300px;
            margin: 0 auto;
            padding-top: 80px;
            vertical-align: middle;
          }
        }

        .topic_content {
          // position: absolute;
          // right: 0;
          width: 45%;
          // height: 70%;
          float: left;
          padding: 80px 2.5%;
          opacity: 0;
          p {
            margin-bottom: 5%;
          }
          .topic_title {
            font-size: $fontSize-subtitle * 0.8;
          }
          .topic_turtle {
            font-size: $fontSize-subtitle;
            font-weight: 500;
            color: $color-orange;
          }
          .topic_smog {
            font-size: $fontSize-subtitle;
            font-weight: 500;
            color: $color-gray;
          }
          .topic_coral {
            font-size: $fontSize-subtitle;
            font-weight: 500;
            color: $color-pink;
          }
          .topic_rainforest {
            font-size: $fontSize-subtitle;
            font-weight: 500;
            color: $color-green;
          }
          .topic_oil {
            font-size: $fontSize-subtitle;
            font-weight: 500;
            color: $color-sea;
          }
          .topic_plastic {
            font-size: $fontSize-subtitle;
            font-weight: 500;
            color: $color-blue;
          }
          .topic_text {
            padding-right: 30%;
            line-height: 2;
            text-align: justify;
            text-justify: distribute;
          }
          .topic_btn {
            border-radius: 30px;
            letter-spacing: 5px;
            color: #ffffff;
            font-size: $fontSize-text;
            text-align: center;
            padding: 15px 20px;
            float: left;
            margin: 10px 0;
          }
          #turtle_btn {
            background-color: $color-orange;
            border: 3px solid $color-orange;
            transition: $transition;
            &:hover {
              color: $color-orange;
              background-color: #fff;
            }
          }
          #smog_btn {
            background-color: $color-gray;
            border: 3px solid $color-gray;
            transition: $transition;
            &:hover {
              color: $color-gray;
              background-color: #fff;
            }
          }
          #coral_btn {
            background-color: $color-pink;
            border: 3px solid $color-pink;
            transition: $transition;
            &:hover {
              color: $color-pink;
              background-color: #fff;
            }
          }
          #rainforest_btn {
            background-color: $color-green;
            border: 3px solid $color-green;
            transition: $transition;
            &:hover {
              color: $color-green;
              background-color: #fff;
            }
          }
          #oil_btn {
            background-color: $color-sea;
            border: 3px solid $color-sea;
            transition: $transition;
            &:hover {
              color: $color-sea;
              background-color: #fff;
            }
          }
          #plastic_btn {
            background-color: $color-blue;
            border: 3px solid $color-blue;
            transition: $transition;
            &:hover {
              color: $color-blue;
              background-color: #fff;
            }
          }
        }
        .topic_conclusion {
          width: 100%;
          padding: 35px 0;
          margin: 10px 0;
          // height: 30%;
          float: left;
          // position: absolute;
          // top: 70%;
          .conclusion {
            margin: 0 auto;
            width: 70%;
            // height: 100%;
            .conclusion_title {
              padding: 10px 0;
              text-align: left;
              color: #ffffff;
              font-size: $fontSize-subtitle;
              letter-spacing: 5px;
            }
            .conclusion_content {
              text-align: left;
              color: #ffffff;
              font-size: $fontSize-text;
              line-height: 2;
              text-align: justify;
              text-justify: distribute;
            }
          }
        }
        #turtle_conclusion {
          background-color: $color-orange;
        }
        #smog_conclusion {
          background-color: $color-gray;
        }
        #coral_conclusion {
          background-color: $color-pink;
        }
        #rainforest_conclusion {
          background-color: $color-green;
        }
        #oil_conclusion {
          background-color: $color-sea;
        }
        #plastic_conclusion {
          background-color: $color-blue;
        }
      }
      .group {
        width: 100%;
        height: 100vh;
        .member {
          width: 27%;
          height: 325px;
          background-color: #ffffff;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
          position: relative;
          float: left;
          margin: 30px 3% 0 3.3%;
          .pic {
            width: 90%;
            height: 180px;
            margin: 20px 5% 30px 5%;
            float: left;
          }
          .info {
            width: 100%;
            height: 90px;
            background-color: #ccc;
            float: left;
            position: absolute;
            bottom: 0;
            line-height: 110px;
            text-align: center;
            p {
              color: $color-main;
              font-size: $fontSize-text;
            }
          }
          .name {
            width: 60%;
            height: 45px;
            position: absolute;
            background-color: #343434;
            top: 215px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            line-height: 45px;
            text-align: center;
            p {
              font-size: $fontSize-subtitle;
              letter-spacing: 5px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes earth-Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes earth-Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes start {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes color {
  from {
    color: #9d9d9d;
  }
  to {
    color: $color-main;
  }
}
@-moz-keyframes color {
  from {
    color: #9d9d9d;
  }
  to {
    color: $color-main;
  }
}
@-webkit-keyframes color {
  from {
    color: #9d9d9d;
  }
  to {
    color: $color-main;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
