* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Microsoft JhengHei; }
  * a {
    text-decoration: none; }

.container {
  width: 100vw;
  overflow: hidden; }
  .container .header {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
    .container .header ul {
      width: 5000px; }
      .container .header ul li {
        display: inline-block;
        float: left;
        list-style: none; }
        .container .header ul li img {
          width: 100vw;
          height: 100vh; }
  .container .earth {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 90vh; }
    .container .earth div {
      width: 50vw;
      margin: 0 auto; }
    .container .earth embed {
      width: 43vw;
      height: auto;
      -webkit-animation: earth-Rotate 2.5s infinite linear;
      -moz-animation: earth-Rotate 2.5s infinite linear;
      -o-animation: earth-Rotate 2.5s infinite linear;
      animation: earth-Rotate 2.5s infinite linear; }

.content {
  width: 100vw;
  height: 200vh;
  overflow: hidden; }
  .content .menu {
    width: 10%;
    height: 100vh;
    padding: 5% 3% 5% 5%;
    float: left; }
    .content .menu ul .big {
      color: #9d9d9d;
      font-size: 20px;
      list-style: none;
      margin-top: 5%; }
      .content .menu ul .big i {
        margin-right: 10%;
        font-size: 15px; }
    .content .menu ul .small {
      color: #9d9d9d;
      list-style: none;
      margin-top: 5%;
      margin-left: 15%;
      list-style: none; }
      .content .menu ul .small i {
        margin-right: 10%;
        font-size: 5px; }
  .content .topic {
    width: 80%;
    height: 200vh;
    position: absolute;
    right: 0;
    border-left: 2px solid #d0d0d0; }
    .content .topic .title {
      margin: 0 auto;
      margin-top: 5%;
      width: 35%; }
      .content .topic .title .tit {
        font-size: 30px;
        padding-bottom: 2%;
        border-bottom: 3px solid #2828ff; }
      .content .topic .title .sub {
        font-size: 20px;
        padding-top: 2%;
        float: right; }

@-webkit-keyframes earth-Rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes earth-Rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes color {
  from {
    color: #9d9d9d; }
  to {
    color: #2828ff; } }

@-moz-keyframes color {
  from {
    color: #9d9d9d; }
  to {
    color: #2828ff; } }

@-webkit-keyframes color {
  from {
    color: #9d9d9d; }
  to {
    color: #2828ff; } }
